/* For .links */
.links {
    font-family: "Fira code light";
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    text-align: left;
    align-items: flex-start; /* Align items to the start (left) */
}

.links a {
    margin-bottom: 5px;
    text-decoration: none;
    max-width: fit-content;
}

.links a:visited {
    text-decoration: none;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
}

.info {
    font-family: "Fira code light";
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    text-align: right;
    align-items: flex-end;
}

.info-table {
    table-layout: fixed;
    text-align: left;
}
