.container {
    position: relative;
    flex-direction: column;
    margin: 4vh;
}

.input-textarea {
    width: 60vw;
    height: 40vh;
    resize: vertical;
    min-height: 20vh;
    background-color: #2a2a30;
    color: aliceblue;
    border: 5px solid #2a2a30;
    border-radius: 7px;
    transition: border-color 0.3s ease;
    padding: 10px;
    font-size: 16px;
}

.input-textarea:focus {
    border: 5px solid #788db5;
    outline: none;
}

.preview-button {
    font-family: "Short Stack", cursive;
    background-color: #788db5;
    color: #292828;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 7vw;
}

.preview-button:hover {
    background-color: #a3b9d1;
}

.preview-container {
    display: none;
    text-align: left;
    width: 60vw;
    font-family: "Fira Code light";
}

.preview-container > pre {
    padding: 10px;
    border-radius: 7px;
    font-size: 1.3em;
}
