.pawste-title {
    color: #788db5;
    font-family: "Short Stack", cursive;
}

.nav-links {
    color: #788db5;
    margin: 0 10px;
}

.short-stack-regular {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
}
