.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}

.table td {
    padding: 10px; /* Adjust the padding value as needed */
}

.paste-info {
    font-family: "Fira Code light";
    color: #007bcf;
}

.paste-link {
    font-family: "Fira Code light";
    color: #007bcf;
    text-decoration: none;
    position: relative;
}

.paste-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0056b3;
    transition: width 0.3s ease;
}

.paste-link:hover::before {
    width: 100%;
}

.table-titles {
    font-family: "Short Stack", cursive;
    color: #788db5;
}
