@font-face {
    font-family: "Short Stack";
    src: url("../fonts/ShortStack-Regular.ttf");
}

@font-face {
    font-family: "Fira Code light";
    src: url("../fonts/FiraCode-Light.ttf");
}

body {
    background-color: #292828;
    text-align: center;
}
