{{ define "guide" }}
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/guide.css" />
    <div class="guide">
        <div class="guide-list">
            <strong>Expiration:</strong>
            <p>Select how long the content will remain accessible.</p>
        </div>
        <div class="guide-list">
            <strong>Burn After:</strong>
            <p>
                Choose the number of views after which the content will be
                deleted.
            </p>
        </div>
        <div class="guide-list">
            <strong>Syntax and theme:</strong>
            <p>
                Specify the programming language or format for syntax
                highlighting. You can also choose a theme for the code.
            </p>
        </div>
        <div class="guide-list">
            <strong>Privacy:</strong>
            <p>Determine who can access the content.</p>
            <ul>
                <li>
                    <strong>Public:</strong> Content is accessible to everyone.
                    Meaning anyone can modify or remove the paste.
                </li>
                <li>
                    <strong>Unlisted:</strong> Above but not listed publicly.
                </li>
                <li>
                    <strong>Read-only:</strong> Above and cannot be modified /
                    removed unless password is provided.
                </li>
                <li>
                    <strong>Private:</strong> Above and password is required to
                    see the paste. The content and attachments are encrypted on
                    server.
                </li>
                <li>
                    <strong>Secret:</strong> Above but contents and attachments
                    are also encrypted on client.
                </li>
            </ul>
        </div>
    </div>
    <div class="image-container">
        <img src="/static/suzume.png" alt="suzume" class="suzume" />
    </div>
{{ end }}
