@import '@fontsource-variable/fira-code';
@import '@fontsource/short-stack';

:root {
	--bg-color: #151515;
	--default-font: 'Short Stack';
	--code-font: 'Fira Code Variable';

	--main-color: #788db5;
	--main-color-dark: #546483;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	font-family: var(--default-font), monospace;
	color: var(--main-color);
	background-color: var(--bg-color);
	font-display: fallback;
}
a {
	color: var(--main-color);
	text-decoration: underline;
}
a:hover {
	color: aliceblue;
}
