*.db
js/speed-highlight
node_modules
pawste
build/*

svelte-dev/node_modules
svelte-dev/.svelte-kit
svelte-dev/build
svelte-dev/.DS_Store
svelte-dev/Thumbs.db
svelte-dev/.env
svelte-dev/.env.*
svelte-dev/vite.config.js.timestamp-*
svelte-dev/vite.config.ts.timestamp-*
