{{ define "about" }}
    <div class="about-container">
        <h1>about</h1>
        <p>pawste tries to be a simplistic and lightweight pastebin service.</p>
        <p>
            some stylistic choices were taken from
            <a href="https://microbin.eu">microbin</a>
        </p>
        <p>this is a hobby project to learn go some more and database things</p>
        <p>
            source code is available on
            <a href="https://github.com/Masterjoona/pawste">github</a>
        </p>
    </div>
{{ end }}
