{{ define "buttons" }}
    <link rel="stylesheet" type="text/css" href="/css/buttons.css" />
    <script type="module" src="/js/submit.js"></script>
    <script src="/js/attach_file.js"></script>
    <script type="module" src="/js/preview.js"></script>
    <div class="buttons">
        <button
            class="attach-button"
            id="attach-button"
            onclick="document.getElementById('file-input').click()"
        >
            attach file
        </button>
        <button
            class="remove-button"
            id="remove-button"
            onclick="removeFiles()"
            style="display: none"
        >
            remove file
        </button>
        <input
            type="file"
            id="file-input"
            onchange="handleFiles(this.files)"
            style="display: none"
        />
        {{ if .Config.UploadingPassword }}
            <script>
                document
                    .getElementById("file-input")
                    .addEventListener("change", function () {
                        const upPassElem =
                            document.getElementById("upload-password");
                        if (this.files.length > 0) {
                            upPassElem.style.display = "block";
                        } else {
                            upPassElem.style.display = "none";
                        }
                    });
            </script>
            <form id="upload-password-form" class="upload-password-form">
                <input
                    type="password"
                    id="upload-password"
                    name="upload-password"
                />
            </form>
        {{ end }}
        <button class="preview-button" id="preview-button">preview</button>
        <button class="submit-button">save</button>
    </div>
{{ end }}
