{{ define "list" }}
    <h1>pastes</h1>
    <table>
        {{ range .PasteLists.Pastes }}
            <tr>
                <td><a href="/p/{{ .PasteName }}">{{ .PasteName }}</a></td>
            </tr>
        {{ end }}
    </table>
    <h1>url redirects</h1>
    <table>
        {{ range .PasteLists.Redirects }}
            <tr>
                <td>
                    <a href="/u/{{ .PasteName }}">{{ .PasteName }}</a>
                </td>
            </tr>
        {{ end }}
    </table>
{{ end }}
