<!doctype html>
<html>
    <head>
        <title>pawste</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        {{ template "pastebinHeader" . }}
        {{ if .Admin }}
            {{ template "admin" . }}
        {{ else if .List }}
            {{ template "list" . }}
        {{ else if .Guide }}
            {{ template "guide" . }}
        {{ else if .About }}
            {{ template "about" . }}
        {{ else if .NotFound }}
            {{ template "404" . }}
        {{ else }}
            {{ template "options" . }}
            {{ template "container" . }}
            {{ template "buttons" . }}
            {{ template "footer". }}
            {{ template "toast" . }}
        {{ end }}
    </body>
</html>
